@{
    ViewData["Title"] = "Erişim Engellendi";
}

<div class="game-details">
    <div class="heading-section">
        <h4><em>Erişim</em> Engellendi</h4>
    </div>
    <p>Bu sayfaya erişim yetkiniz bulunmamaktadır.</p>
    <div class="main-button mt-3">
        <a asp-controller="Home" asp-action="Index">Ana Sayfaya Dön</a>
    </div>
</div>